Source: pve-edk2-firmware
Section: misc
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: bc,
               debhelper (>= 11),
               gcc-aarch64-linux-gnu,
               iasl,
               nasm,
               python,
               uuid-dev,
Homepage: http://www.tianocore.org
Standards-Version: 4.1.3

Package: pve-edk2-firmware
Architecture: all
Depends: ${misc:Depends},
Description: edk2 based firmware modules for virtual machines
 Contains OVMF and AAVMF. Open Virtual Machine Firmware (OVMF) is a build of
 EDK II for virtual machines. It includes full support for UEFI, including
 Secure Boot, allowing use of UEFI in place of a traditional BIOS in your VM.
 AAVMF offers the same for AARCH64 (ARM64) based VMs.
 Proxmox VE specific release with disabled secure boot.
